
.track-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .track-item {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  .track-item img {
    max-width: 75%;
    height: auto;
  }
  